
@font-face {
  font-family: 'Zwizz-Regular';
  src: url('Zwizz-Regular.eot?#iefix') format('embedded-opentype'),  url('Zwizz-Regular.woff') format('woff'), url('Zwizz-Regular.ttf')  format('truetype'), url('Zwizz-Regular.svg#Zwizz-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
