
@font-face {
  font-family: 'Zwizz-Bold';
  src: url('Zwizz-Bold.eot?#iefix') format('embedded-opentype'),  url('Zwizz-Bold.woff') format('woff'), url('Zwizz-Bold.ttf')  format('truetype'), url('Zwizz-Bold.svg#Zwizz-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
